<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeUI.Properties.Settings.EmployeeDetailsConnectionString"
            connectionString="Data Source=(localdb)\LocalDB;Initial Catalog=EmployeeDetails;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeUI.Properties.Settings.test1ConnectionString"
            connectionString="Data Source=(localdb)\LocalDB;Initial Catalog=test1;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeUI.Properties.Settings.test4ConnectionString"
            connectionString="Data Source=(localdb)\LocalDB;Initial Catalog=test4;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeUI.Properties.Settings.test5ConnectionString"
            connectionString="Data Source=(localdb)\LocalDB;Initial Catalog=test5;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>